<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css">
        <title>Login</title>
    </head>
<body>
    <%- include("./components/nav") %>
    <form class="form" action="/signup" method="POST">
        <h2>Sign up</h2>
        <% if(typeof errors != "undefined"){ %>
            <% errors.forEach((error) => { %>
                <p class="error-msg"> <%= error.msg %> </p>
            <% })%>
        <% } %>
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Please write your username"/>
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Please write your email"/>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Please write your password"/>
        <label for="password2">Repeat Password</label>
        <input type="password" name="password2" placeholder="Please repeat your password"/>
        <button class="btn-info" type="submit">Sign up</button>
    </form>

</body>
</html>